{% extends 'LSVC/layout.html' %}
{% block content %}
<!--DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body-->
    
    <div class="row"><div class="side">
        <h2>About this tool:</h2>
        <h3><centre>
            Twitter has emerged as a major micro-blogging website,
            having over 100 million users generating over 500 million
            tweets every day. With such large audience, Twitter has
            consistently attracted users to convey their opinions and
            perspective about any issue, brand, company or any other
            topic of interest. Due to this reason, Twitter is used as an
            informative source by many organizations, institutions and
            companies.<br/><br/> 
            This tool helps you to understand the public opinion 
            towards an electronic product and helps you in decided which product is the 
            best among your chioces. It uses the data from the forms to query 
            through Twitter for sentiment of the product. You can also use 
            this tool to understand the opinion towards brands of a product.
        </centre></h3>
    </div>
    <div class="main">
        <br/>
        <h2><b>Choose what you want to compare:</b></h2><h3>
            <table><tr><td class='td1'>
            <h3 style="text-align: justify;"><centre>
                Compare products of different models of a brand to know which is the most accepted.
            </centre></h3></td>
            <td class='td1'><a href="{% url 'products' %}"><button class="buto">Compare Products</button></a></td></tr>
            <br/>
            <tr></tr><tr></tr><tr></tr>
            <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            <tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr><tr></tr>
            <tr><td class='td1'>
            <a href="{% url 'brands' %}"><button class="buto">Compare Brands</button></a></td><td class='td1'>
            <h3 style="text-align: justify;"><centre>
                    Compare products of different brands and know which has the best brand value for the product.
            </centre></h3></td></tr>
            <tr></tr>
            </table>
            <br/>
            <br/>

            <br/>
        </h3>
        </div>
    </div></div>
<!--/body>
</html-->
{% endblock %}