<!--<?php
if(isset($_POST['Submit']))
{
    echo "Submitted";
    $twee_search = $_POST['Brand']." OR ".$_POST['Prod']." OR ".$_POST['Model'];
    //file_put_contents(pro_details.txt, 'w');
    $handle = fopen("C:\Users\Kaumudi\Documents\kmd\Sentiment Analysis\LinearSVC\pro_detalis.txt", "w"))
    //echo fwrite($handle, $twee_search);
    if(!fwrite($handle, $twee_search))
    {
        //
        //echo "WRONG!!!";
    }
    fclose($handle);
    //header('Location: review_analysis.html');
}
?>-->

{% extends 'LSVC/layout.html' %}
{% block content %}
{% load static from staticfiles %}

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>-->
    <div class="row"><div class="side">
        <h2>About this tool:</h2>
        <h3><centre>
            Twitter has emerged as a major micro-blogging website,
            having over 100 million users generating over 500 million
            tweets every day. With such large audience, Twitter has
            consistently attracted users to convey their opinions and
            perspective about any issue, brand, company or any other
            topic of interest. Due to this reason, Twitter is used as an
            informative source by many organizations, institutions and
            companies.<br/><br/> 
            This tool helps you to understand the public opinion 
            towards an electronic product and helps you in decided which product is the 
            best among your chioces. It uses the data from the forms to query 
            through Twitter for sentiment of the product. You can also use 
            this tool to understand the opinion towards brands of a product.
        </centre></h3>
    </div>
    <div class="main">
            
            <h4>Please fill this form:</h4><h5>
                <form method="POST" action="{% url 'productanalyze' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table style="width:100%">
                    {% for field in form  %}
                    <tr>
                      <td>{{ field.label_tag }}</td><td>{{ field }}</td> 
                    </tr>
                    {% endfor %}   
                    </table>         
                    <br/>
                    <button type="submit">Get Review Analysis</button>
                </form>
                </h5>
            
        </div>
    </div>
<!--</body>
</html>-->
{% endblock %}